// Breakpoints
$container-mobile: 480px;
$container-tablet: 769px;
$container-tablet-landscape: 1024px;
$container-desktop: 1440px;

// Layout
$width-max-article: 1200px;

// Gutenberg
$wide: $width-max-article;
$full: 100%;
