:root {
  // Brand colors
  --color-black: #121212;
  --color-white: #fff;
  --main-brand-color: #ff8600;
  --secondary-brand-color: #102542;
  --color-light-grey: #d7d6d6;

  // Main elements
  --color-heading: var(--main-brand-color);
  --color-main: var(--secondary-brand-color);
  --color-paragraph: var(--color-light-grey);
}
